body{ font-family: 'Inter',"游ゴシック体",YuGothic,"游ゴシック Medium","Yu Gothic Medium","游ゴシック","Yu Gothic","メイリオ",sans-serif;
background: #fff;
color:#101010;}
.is-pc{display:block;}
.is-sp{display:none;}

header{	position: fixed;
    background: #FFf;
    z-index: 999;
    box-shadow: 1px 1px 5px #ddd;
        width: 100%;
        top:0;}
header .header-inner{
	display: flex;
}

p{font-size:16px; line-height:1.8;}

a{text-decoration:none;}
a:hover{opacity:0.8;}

section{
	margin-bottom: 100px;
	padding:0 20px;
}
img{width:100%;display:block;}
video{width:100%;}

header img{
	width: 240px;
	margin-left: 20px;
	margin-right: auto;
	object-fit: contain;
}

h2{
	color:#307F3D;
	font-size: 26px;
	font-weight: 700;
}

h3{
	color:#307F3D;
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 20px;
	margin-top: 30px;
}

hr{border: 2px solid #307F3D;}

li{list-style-type: none;}

.mt-10{margin-top:10px;}
.mt-20{margin-top:20px;}
.mb-10{margin-bottom:10px;}
.mt-100{margin-top:100px;}
.pd-20{padding:0 20px;}




header .header_cv_btn{
	background: #0F6B73;
	text-decoration: none;
	color: #fff;
	display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    padding: 10px 60px;
    font-size: 18px;
    border-radius: 5px;
    font-weight: bold;
}

.mv{
	position: relative;
	margin-bottom: 100px;
}
.mv .mv_bg{
	width: 100%;
	margin-top: 67px;
}


.mv .mv_inner{
	position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.mv .mv_inner img{
	margin:0 auto;
	object-fit: contain;
	}

.mv .mv_inner .mv_fade{
		opacity: 0;
	transition: all 3.0s;
}

.mv .mv_inner .logo{
	min-width: 35%;
	max-width: 30%;
}

.mv .mv_inner .statement{
	margin-top: 40px;
	width: 90%;
}

.mv-fadein{
	opacity: 1 !important;
    transform: translate(0, 0) !important;
}

.mv .mv_inner .open{
	margin-top: 34px;
	width: 90%;
}


main{
	max-width:1080px;
	margin:0 auto;
	}

.about{display:flex;}

.about img{width:23%;object-fit: contain;}

.about .about-text{margin-left:120px;}

.about .about-text p{font-weight:700;line-height:1.8;}
.about .about-text p span{color:#307F3D;}

.about-movie{
	margin-top: 50px;
    padding: 30px;
    border: 15px solid #0F6B73;
    position: relative;
}

.about-movie::before{    content: "";
    width: 90%;
    height: 90%;
    background: #FFF;
    display: inline-block;
    position: absolute;
    top: 15%;
    left: -10%;
}

.about-movie::after{    content: "";
    width: 90%;
    height: 90%;
    background: #FFF;
    display: inline-block;
    position: absolute;
    bottom: 15%;
    right: -10%;
}

.about-movie video{position:relative;z-index:2;}

#facility h2{margin-bottom:20px;}

.sketchfab-embed-wrapper{margin-bottom:90px;}

.column-wrapper{
	display:flex;
	margin-bottom:90px;}

.column-wrapper:nth-of-type(odd) {
flex-direction: row-reverse;
}

.column-wrapper .column-1{
	width:40%;
	margin-right:50px;
}
.column-wrapper:nth-of-type(odd) .column-1{margin-left:50px;margin-right:0px;}


.column-wrapper .column-2{
	width:60%;
	margin-right:20px;
}

.column-wrapper .column-2 .room-img{
    box-shadow: 20px 20px #54A082;
}



    .price-box{
    	display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 30px;
		}

	.price-box .column-1{width:50%;}
	.price-box .column-2{width:50%;}

	.price-box h4{
	    background: #307F3D;
	    width: 80%;
	    margin: 0 auto;
	    padding: 10px;
	    font-size: 20px;
	    color: white;
	    border-radius: 10px;
	    margin-bottom: 30px;
	}
	.price-box p{margin-bottom:20px;}

	.price-annual{text-align:center;margin-top:30px;}

	.price-annual .cv-btn{    background: #0F6B73;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 60px;
    font-size: 18px;
    border-radius: 5px;
    font-weight: bold;
    width: 40%;
    margin: 10px auto;}

#price .attention{border:1px solid #aaa;padding:10px;text-align:center;margin:20px 0;}

.event{
    	display: flex;
    justify-content: space-between;
    margin-top: 30px;
		}
.event a img{border: 1px solid #aaa;}

.event .column-1{width:40%;}
.event .column-2{width:60%;margin-left:50px;}
.event .column-2 h4{font-size:20px;margin-bottom:30px;}
.event .column-2 p{margin-bottom:40px;}
.event .column-2 a{
	display:block;
	background: #0F6B73;
	color: #fff;
	font-weight: 700;
	width: 60%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

.event .column-2 a::after{content: '';
	background:url(../img/link-icon.png) no-repeat;
    position: absolute;
    width: 25px;
    height: 25px;
    display: inline-block;
    top: 30%;
    right: 25%;
    background-size: 80%;}



#faq h3{padding-left: 25px;position:relative;}
#faq h3::before{
	content: '';
	background:url(../img/question.png) no-repeat;
    position: absolute;
    width: 16px;
    height: 25px;
    display: inline-block;
    top: 5px;
    left: 0;
    background-size: 80%;
}
#faq p{margin-bottom:20px;padding-left:25px;}

#faq hr{border: 1px solid #307F3D;}

.company-box{
	margin-top:20px;
	display: flex;
	align-items: center;
}

.company-box .column-1{
	width: 40%;
}
.company-box .column-1 img{
    margin: 0 auto;
}

.company-box .column-2{
	width: 60%;
	margin-left: 50px;
}

.associate-box ul{
	display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.associate-box ul li{width:27%;margin:20px;}

#access .access-box{display:flex;}

#access .access-box .access-1{
	width:50%;
}
#access .access-box .access-1 p{
	font-size: 18px;
	margin-top: 20px;
}
#access .access-box .access-1 a{color:#101010;text-decoration:underline ;}
#access .access-box .access-2{width:50%;}


#gallery ul{
	display:flex;
	justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
}
#gallery ul li{width:30%;margin:10px 0;}


footer{
	color: white;
	background: #307F3D;
	text-align: center;
	padding: 10px 0;
}
footer p{font-size: 12px;}

.fadein{opacity: 0;
    transform: translate(0,0);
    transition: all 1.5s;}
.fadein-bottom{
      transform: translate(0,30px);}
.scrollin{
    opacity: 1 !important;
    transform: translate(0, 0) !important;
  }

/*スライダー*/

.slider-wrap {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.slider .slick-slide {
  height: auto;
  overflow: hidden;
}
.slider .slick-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-nav{display:flex;justify-content: flex-end;}

.slider-nav li {
  display: inline-block;
	width: 10%;
   height: 40px;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity 0.3s;
}
.slider-nav li.slick-active {
  opacity: 1;
}
.thumbnail .slick-track {
  transform: unset !important;
}

.attention a{
	color: #101010;
	text-decoration: underline;
}

/*---------------------------------------------SPver--------------------------------------*/
@media screen and (max-width: 769px){
	.is-pc{display:none;}
	.is-sp{display:block;}
	section{margin-bottom:60px;}
	h2{font-size:1.4em;}
	p{font-size:0.85em; line-height:2.0;}
	.mv{margin-bottom:30px;}
	.mv .mv_bg{margin-top:0;}
	.mv .mv_inner{
	width: 90%;
	top: 54%;
		}
	.mv .mv_inner .logo{min-width:60%;}
	.mv .mv_inner .statement{width:95%;}
	.mv .mv_inner .open{width:100%;}
	.about .about-text{margin-left:0;}
	.about-movie{
	margin-top: 30px;
    padding: 10px;
    border: 10px solid #54A082;
    position: relative;
}
.about-movie::before{    content: "";
    width: 85%;

    top: 25%;

}

.about-movie::after{    content: "";
    width: 85%;
    bottom: 25%;
}

.sketchfab-embed-wrapper{margin:0 auto 30px ;}

	.column-wrapper {
    flex-direction: column-reverse;
    margin-bottom: 30px;
	}
	.column-wrapper:nth-of-type(odd) {
		 flex-direction: column-reverse;
		}
	.column-wrapper .column-1{
	  width: 100%;
	}
	.column-wrapper .column-1{
		margin-left: 0;
		margin-right: 0;
	}
	.column-wrapper:nth-of-type(odd) .column-1{margin-left:0px;margin-right:0px;}
	.column-wrapper .column-2 {
		width: 100%;
		}
	.column-wrapper .column-2 .room-img{
		width: 95%;
		box-shadow: 15px 15px #54A082;
	}


	.column-wrapper .column-1 p{
		padding-top: 30px;
    }
    .sp-class-h2{width:95%;}
    .thumbs_list li{width: 25%;
    height: 30px;}
    h3{
    	font-size: 1.07em;
    	margin: 15px 0;
    }
    .price-box{display:block;}
	.price-box .column-1{width:100%;}
	.price-box .column-2{width:100%;}
	.price-box h4{
		font-size: 1em;
		width: 100%;
		padding: 5px;
		margin-bottom: 10px;
	}
	.price-box p {
    margin-bottom: 10px;
}
	.price-annual .cv-btn{
		padding: 10px 0;
    font-size: 1.0em;
    width: 100%;}
    .event{display:block;}
    .event .column-1{width:100%;}
	.event .column-2{width:100%;margin-left:0px;margin-top:20px;}
	.event .column-2 h4{font-size:1.0em;margin-bottom:20px;}
	.event .column-2 p{margin-bottom:20px;}
	.event .column-2 a{width: 100%;margin:0 auto;font-size:1.0em;}

.event .column-2 a::after{
    width: 22px;
    height: 22px;
    top: 30%;
    right: 24%;
    background-size: 80%;}
    .company-box .column-2{margin-left: 10px;}

    .associate-box ul li{width:43%;margin:10px;}

    #faq p{margin-bottom:15px;}
    #faq h3::before{
    width: 14px;}

    #access .access-box{flex-direction: column;}
    #access .access-box .access-1{width:100%;}
    #access .access-box .access-2{width:100%;margin-top:15px;}
    #access .access-box .access-2 iframe{height:300px;}
    #access .access-box .access-1 p{font-size:0.9em;margin-top:15px;}
    #gallery ul{margin-top:15px;}
    #gallery ul li{width:48%;}
    footer{
	padding: 5px 0;
	margin-bottom: 42px;
}
footer p{font-size: 0.6em;}
	.sp-cv .sp-cv-btn{
	display: block;
	position: fixed;
    bottom: 0;
    background: #0F6B73;
    width: 100%;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 10px;
    z-index: 999;
    font-weight: bold;
		}
	.modaal-gallery-prev{left:10px;}
	.modaal-gallery-next{right:10px;}
	.modaal-gallery-control{bottom:30%;}
}